<!DOCTYPE html>
<head>
    <title>About Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class=main-content>
        {{>header}}
        <img src="/img/a.jpg" height="500">
</div>
    {{>footer}}
</body>
</html>