<!DOCTYPE html>

<head>

    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
    

</head>
<body >
<div class=main-content>
        {{>header}}
        
    <form><input placeholder='location'><button>Submit</button></form>

<p id='message-1'></p>
<p id='message-2'></p>
</div>
     {{>footer}}
     <script src="/js/app.js"></script>
</body>

</html>