<!DOCTYPE html>

<head>

    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
    

</head>
<body>
    <div class=main-content>
{{>header}}
<P>{{errormsg}}</P>
</div>
{{>footer}}
</body>

</html>

